body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../images/test4.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Inter',sans-serif;
}

.login-form {
    width: 500px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: rgba(255,255,255,.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.login-form h2{
    text-align: center;
}

.login-form label,
.login-form input {
    display: block;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"]{
    width: calc(100% - 22px);
    padding: 10px;
    border: 3px solid #6cb0f9;
    border-radius: 3px;
    opacity: 0.7;
    box-sizing: border-box;
}

.login-form button {
    width: calc(100% - 22px);
    padding: 10px;
    background-color: #6cb0f9;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;
    width: calc(50% - 12px);
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me label {
    margin-right: 10px;
}